In [1]:
import pandas as pd

In [2]:
links = pd.read_csv('appartment_house_links_no_duplicates.csv')

In [8]:
test_links = links[1:17]
test_links

                                            link
1   https://www.immoweb.be/en/classified/8892312
2   https://www.immoweb.be/en/classified/8892319
3   https://www.immoweb.be/en/classified/8899851
4   https://www.immoweb.be/en/classified/8892306
5   https://www.immoweb.be/en/classified/8904631
6   https://www.immoweb.be/en/classified/8917208
7   https://www.immoweb.be/en/classified/8914953
8   https://www.immoweb.be/en/classified/8909856
9   https://www.immoweb.be/en/classified/8897103
10  https://www.immoweb.be/en/classified/8904372
11  https://www.immoweb.be/en/classified/8910704
12  https://www.immoweb.be/en/classified/8876897
13  https://www.immoweb.be/en/classified/6909169
14  https://www.immoweb.be/en/classified/7149936
15  https://www.immoweb.be/en/classified/8792346
16  https://www.immoweb.be/en/classified/7089514

In [17]:
import requests
import lxml.html as lh
import pandas as pd

#for link in test_links['link']:
  
url='https://www.immoweb.be/en/classified/8892312'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

el=[]

for tr in tr_elements:

    name=tr.text_content()
    el.append(name)

df = {}

for item in el:

    items = list(filter(None, map(str.strip, item.split("\n"))))

    try:
        df[items[0]] = items[1]

    except IndexError:


        continue

# Get Price

if df.get('Price')!=None:

    Price = df['Price']

else:

    df['Price']= 'NA'
    Price = df['Price']    

# Get Bedrooms

if df.get('Bedrooms')!=None:

    Num_of_rooms = df['Bedrooms']

else:
    df['Bedrooms']= 'NA'
    Num_of_rooms = df['Bedrooms']        


# Get Living area

if df.get('Living area')!=None:
    Area = df['Living area']

else:
    df['Living area']= 'NA'
    Area = df['Living area']        

# Get Kitchen type

if df.get('Kitchen type')!=None:

    Kitchen_equipped = df['Kitchen type']

else:
    df['Kitchen type']= 'NA'
    Kitchen_equipped = df['Kitchen type']          

# Get Furnished

if df.get('Furnished')!=None:
    Furnished = df['Furnished']

else:
    df['Furnished']= 'NA'
    Furnished = df['Furnished']          

# Get Fireplace

if df.get('Fireplace')!=None:
    Fireplace = df['Fireplace']
else:

    df['Fireplace']= 'NA'
    Fireplace = df['Fireplace']


# Get Terrace surface

if df.get('Terrace surface')!=None:
    Terrace_area = df['Terrace surface']

else:
    df['Terrace surface']= 0
    Terrace_area = df['Terrace surface']

if int(df['Terrace surface'])>0:
    df['Terrace'] = 1
    Terrace = df['Terrace']
else:
    df['Terrace'] = 0
    Terrace = df['Terrace']

# Get Terrace surface

if df.get('Garden surface')!=None:
    Garden_area = df['Garden surface']

else:       
    df['Garden surface']= 0
    Garden_area = df['Garden surface']

if int(df['Garden surface'])>0:
    df['Garden'] = 1
    Garden = df['Garden']
else:
    df['Garden'] = 0
    Garden = df['Garden']

# Get Terrace surface

if df.get('Surface of the the land')!=None:
    Land_surface = df['Surface of the the land']

else:        
    df['Surface of the the land']= 'NA'
    Land_surface = df['Surface of the the land']

# Get Surface of the plot

if df.get('Surface of the plot')!=None:
    Plot_surface = df['Surface of the plot']

else:        
    df['Surface of the plot'] = 'NA'
    Plot_surface = df['Surface of the plot']

# Get Surface of the plot

if df.get('Facades')!=None:
    Facades = df['Facades']
else:
    df['Facades'] = 'NA'
    Facades = df['Facades']


# Get Surface of the plot

if df.get('Swimming pool')!=None:
    Swimming_pool = df['Swimming pool']

else:
    df['Swimming pool']= 'NA'
    Swimming_pool = df['Swimming pool']


# Get Surface of the plot

if df.get('Building condition')!=None:
    Building_condition = df['Building condition']

else:
    df['Building condition']= 'NA'
    Building_condition = df['Building condition']



data = pd.DataFrame({
                    'Price': Price,
                    'Bedrooms': Num_of_rooms,
                    'Area': Area,
                    'Kitchen_equipped': Kitchen_equipped,
                    'Furnished': Furnished,
                    'Fireplace': Fireplace,
                    'Terrace_area': Terrace_area,
                    'Terrace': Terrace,
                    'Garden_area': Garden_area,
                    'Garden': Garden,
                    'Land_surface': Land_surface,
                    'Plot_surface': Plot_surface,
                    'Facades': Facades,
                    'Swimming_pool': Swimming_pool,
                    'Building_condition': Building_condition,

                },index=[0])

In [18]:
data

,Price,Bedrooms,Area,Kitchen_equipped,Furnished,Fireplace,Terrace_area,Terrace,Garden_area,Garden,Land_surface,Plot_surface,Facades,Swimming_pool,Building_condition
0,"€ 282,500",1,73,USA hyper equipped,NA,NA,5,1,0,0,NA,NA,NA,NA,As new

In [19]:
df

{'Available as of': 'At delivery',
 'Available date': 'April 1 2021 - 12:00 AM',
 'Neighbourhood or locality': 'Bruxelles Sud',
 'Construction year': '2021',
 'Floor': '1',
 'Number of floors': '3',
 'Building condition': 'As new',
 'Covered parking spaces': '1',
 'Living area': '73',
 'Living room surface': '21',
 'Dining room': 'Yes',
 'Kitchen type': 'USA hyper equipped',
 'Bedrooms': '1',
 'Bedroom 1 surface': '14',
 'Bathrooms': '1',
 'Shower rooms': '1',
 'Toilets': '1',
 'Basement': 'Yes',
 'Armored door': 'Yes',
 'Terrace surface': '5',
 'Elevator': 'Yes',
 'Disabled access': 'Yes',
 'Visio phone': 'Yes',
 'E-level (primary energy consumption)': '96',
 'Energy class': 'B',
 'Reference number of the EPC report': 'Not specified',
 'CO² emission': '29 kg CO2/m²',
 'Yearly theoretical total energy consumption': 'Not specified',
 'Heating type': 'Gas',
 'Double glazing': 'Yes',
 'Flood zone type': 'Possible flood zone',
 'Price': '€ 282,500',
 'Cadastral income': '€ 1',
 'Address': "Avenue Baron Albert d'Huart 130",
 'Website': 'http://www.latouretpetit.be',
 'External reference': '4132539',
 'Furnished': 'NA',
 'Fireplace': 'NA',
 'Terrace': 1,
 'Garden surface': 0,
 'Garden': 0,
 'Surface of the the land': 'NA',
 'Surface of the plot': 'NA',
 'Facades': 'NA',
 'Swimming pool': 'NA'}

In [ ]:
#df['Locality']
#df['Type of property']
#df['Subtype of property']
#df['Type of sale']